# Regenerate contract list every 30 minutes
23,53	*	*	*	*	cd /path/to/bravecollective-freight/gen_contracts; ./cron.sh

# Regenerate station list every 6 hours
42	*/06 	*	*	*	cd /path/to/bravecollective-freight/gen_stations; ./cron.sh



